{% extends "base/base.html" %} {% load static %} {% block title %}
Employee Tables{% endblock title %} {% block body %}
<main>
  <div class="container">
    <div class="row justify-content-center p-4">
      <div class="col-12">
        <div class="row mb-3">
          <div class="col-12">
            <h3>Tables</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Employee Tables
              </div>
              <div class="card-body">
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone Number</th>
                      <th>Address</th>
                      <th>Position</th>
                      <th>Hourly Rate</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for employee in employees %}
                    <tr>
                      <td> {{employee.name}} </td>
                      <td>{{employee.phone_number}}</td>
                      <td>{{employee.address}}</td>
                      <td>{{employee.position}}</td>
                      <td>{{employee.hourlyrate}}</td>
                      <td>
                        <a class="btn btn-sm" href="{% url 'update_employee' employee.id %}">Edit</a>
                        <a class="btn btn-sm" href="{% url 'delete_employee' employee.id %}">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock body %}