{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
      <div class="col-lg-3 col-sm-12">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">
            <p>Total Employee</p>
            <h4>{{employeeLenth|length }}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">
            <p>Total Company</p>
            <h4>{{companyLength|length }}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">
            <p>Total Product In</p>
            <h4>{{productLength|length }}</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="card bg-primary text-white mb-4">
          <div class="card-body">
            <p>Total Product Delivery</p>
            <h4>{{deliveryProduct|length }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center p-4">
      <div class="row mb-3">
        <div class="col-12">
          <h3>Delivery Report</h3>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Reports
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Date</th>
              <th>Articolo</th>
              <th>Piz</th>
              <th>Total Price</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            {% for delivery in deliveryProduct %}
            <tr>
              <td> {{delivery.date}} </td>
              <td>{{delivery.product.art}}</td>
              <td>{{delivery.piz}}</td>
              <td>{{delivery.total_price}}</td>
              <td>{{delivery.product.company_name}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

</main>
{% endblock body %}