{% extends "base/base.html" %} {% load static %} {% block title %}
Products Report{% endblock title %} {% block body %}
<main>
  <div class="container">
    <div class="row justify-content-center p-4">
      <div class="row mb-3">
        <div class="col-12">
          <h3>Products Report</h3>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Reports
      </div>
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Date</th>
              <th>Articolo</th>
              <th>Piz</th>
              <th>Price</th>
              <th>Delivery Date</th>
              <th>Company Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for product in productsList %}
            <tr>
              <td> {{product.date}} </td>
              <td>{{product.art}}</td>
              <td>{{product.piz}}</td>
              <td>{{product.price}}</td>
              <td>{{product.delivery_date}}</td>
              <td>{{product.company_name}}</td>
              <td>
                <a class="btn btn-sm" href="">Edit</a>
                <a class="btn btn-sm" href="">Delete</a>
               </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</main>

{% endblock body %}
